@media (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

.contenido {
  display: felx;
  felx-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .contenido {
    grid-column: 2 / 3;
  }
}

.texto {
  color: var(--white);
  text-align: center;
  font-size: 2.4rem;
}

.anchor {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.1rem;
  color: var(--white);
  border: 2px solid var(--primary);
  padding: 1rem 5rem;
  background-color: transparent;
  trasition-property: background-color;
  transition-duration: 0.3s;
  text-decoration: none;
  width: 50%;
  margin: 0 auto;
}
.anchor:hover {
  background-color: var(--primary);
  color: var(--white);
}
